:root {
  --background-color: #f8f9fa;
  --text-color: #212529;
  --accent-color: #007bff; /* Bootstrap's primary blue */
  --subtle-border-color: #e9ecef; /* Light grey for borders */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

a {
  color: var(--accent-color);
}

a:hover {
  color: #0056b3; /* A darker shade of the accent color */
}

.language-switcher {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000; /* Ensure it stays on top */
}

/* Ensure the first resume section has no top border or padding */
.resume-section:first-of-type {
  border-top: none !important;
  padding-top: 0 !important;
}

.resume-section:not(:first-child) {
  border-top: 1px dashed var(--subtle-border-color);
  padding-top: 2rem;
}

/* Card styles */
.card {
  border: none;
}
